
*{ 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;       
        } 
   body{ 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width:100%;
  height:100%;   
     } 
              
#backG { 
   width:100%; 
   height: 100%; 
   color: white; 
   background: #123; 
   margin: 0 auto; 
        } 
 #quote-box {
   position: relative; 
   display: flex;  
   justify-content: center; 
   align-items: center; 
   flex-wrap: wrap; 
   z-index: 1; 
    }   
.conteiner{        
  position: relative; 
  width: 90%; 
  height: 700px; 
  margin: 50px; 
  box-shadow: 20px 20px 50px rgb(0,0,0,0.4); 
  border-radius: 15px; 
  background: rgba(255,255,255,0.1); 
  overflow: hidden; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  backdrop-filter: blur(6px); 
        } 
        
  .ml2 {
  font-weight: 900;
  font-size: 30px;
  color: white;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
  color: white;
}

.button{
  flex: 1 auto;
  margin: 5px;
  padding: 10px 25px;
  text-align: center;
  transition: all 0.5s ease-out;
  background: linear-gradient(45deg, transparent 0%, rgba(255,255,255,0.5) 51%, transparent 100%); 
  background-position: 1% 50%;
  background-size: 300% 300%;
  color: black;
  border: none;
}
.button:hover{
  background-position: right top;
  border: none;
}
 
 @media screen and (max-width: 400px) {
  .body {
    width: 100%;
  }
   #quote-box{
     width: 100%;
     font-size:10px;
   }
   .conteiner{
     width: 100%;
   }
}    
